﻿@using Microsoft.Extensions.Configuration
@using System.Collections
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "GlobalId Poc";
}
<h1>@ViewData["Title"]</h1>

@if (string.IsNullOrEmpty((string)ViewData["Name"]))
{
    <button id="global_id_login">Login</button>
}
else
{
    <p>Hello @ViewData["Name"]</p>
    @if (!string.IsNullOrEmpty((string)ViewData["ProfileImgUri"]))
    {
        <p><img src="@ViewData["ProfileImgUri"]" /></p>
    }
    @if (ViewData["PrivateData"] as IEnumerable<string> != null)
    {
        <p>

            <div>Private Data:</div>
            <ul>
                @foreach (var privateData in (ViewData["PrivateData"] as IEnumerable<string>))
                {
                    <li>@privateData</li>
                }
            </ul>
        </p>
    }
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#global_id_login").click(function (e) {
                window.location.href = '@Html.Raw(@ViewData["QrCodeUri"])';
            });
        });
    </script>
}