﻿@{
    ViewData["Title"] = "Verifications";
}

<div id="waiting_verification">
    Waiting for verification request
</div>

<div id="confirm_verification">
    <div>Attestation Request Id:<span id="attestation_request_id_val"></span></div>
    <div>Terminal Id:<span id="terminal_id_val"></span></div>
    <div>Address:<input type="text" id="address_val" /></div>
    <div>
    <button id="confirm">Confirm</button>
        <button id="reject">Reject</button>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            var reset = function() {
                $("#confirm_verification").hide();
                $("#waiting_verification").show();
                $("#attestation_request_id_val").html("");
                $("#terminal_id_val").html("");
                $("#address_val").val("");
            };

            reset();

            var connection = new signalR.HubConnectionBuilder().withUrl("/gidHub").build();

            connection.on("VerificationRequest",
                function(attestation_request_id, address, terminalId) {
                    if (!$("#confirm_verification").is(":visible")) {
                        $("#attestation_request_id_val").html(attestation_request_id);
                        $("#address_val").val(address);
                        $("#terminal_id_val").html(terminalId);
                        $("#waiting_verification").hide();
                        $("#confirm_verification").show();
                    }
                });

            connection.on("AttestationConfirmed",
                function(attestation_request_id) {
                    alert("Attestation confirmed");
                    reset();
                });

            connection.on("AttestationNotConfirmed",
                function (attestation_request_id) {
                    alert("Attestation not confirmed");
                    reset();
                });

            connection.on("AttestationRejected",
                function (attestation_request_id) {
                    alert("Attestation rejected");
                    reset();
                });

            connection.on("AttestationNotRejected",
                function (attestation_request_id) {
                    alert("Attestation not rejected");
                    reset();
                });

            connection.start().then(function() {
                console.log("connected");
            });

            $("#confirm").click(function() {
                connection.invoke("ConfirmAttestation", $("#attestation_request_id_val").html(), $("#address_val").val()).catch(function(err) {
                    alert(err.toString());
                    reset();
                });
            });

            $("#reject").click(function () {
                connection.invoke("RejectAttestation", $("#attestation_request_id_val").html()).catch(function (err) {
                    alert(err.toString());
                    reset();
                });
            });
        });
    </script>
}